<aside style="background-color:  #141518 ;" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->

  <a href="index3.html" style="background-color: #FFF;" class="brand-link">
    <span style="color: black;" class="brand-text font-weight-light"><i class="fas fa-forward"></i>Fast Access</span>

  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>

    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->



      <li class="nav-item">
        <a routerLink="/home" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Home</p>
        </a>
      </li>
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Room</p>
            </a>
          </li>

        <li *ngIf="IsAdmin" class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              All Operations
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/users" class="nav-link">
                <i class="far fa-circle nav-icon"></i>

                <p>Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/probType" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Problem Types</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/probSource" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Problem Sources</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/probHeader" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Problem Headers</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/probContent" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Problem Contents</p>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
