.body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {

}
.row{
  padding-top: 10%;
}
.cardd {

	position: relative;
  width: 340px;
	height: 170px;
  background-color: #5cb85c;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	margin: 10px;
	transition: 0.25s ease-in;
}

.medium{
	position: relative;
  width: 340px;
	height: 170px;
  background-color: yellow;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	margin: 10px;
	transition: 0.25s ease-in;
}
.cardd .card-word{
  text-align: center;
  padding-top: 15%;
}
.cardd h1{
  color: white;
}
.cardd .content {
	position: absolute;
	bottom: 10px;
	left: 25px;
}

.cardd .content h4 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.cardd .content h6 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.cardd .fav {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.cardd .fav i {
	color: white;
}

.cardd:hover {
	transform: scale(1.05);
}

.cardd:hover {
	background-position: top;
}

.h1{
  color: whitesmoke;
}
