.body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {

}
.row{
  padding-top: 10%;
}

.easy{
  position: relative;
  width: 340px;
	height: 170px;
  background-color: #5cb85c;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	margin: 10px;
	transition: 0.25s ease-in;
}
.medium{
	position: relative;
  width: 340px;
	height: 170px;
  background-color: #f0ad4e;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	margin: 10px;
	transition: 0.25s ease-in;
}
.cardd{
  position: relative;
  width: 340px;
  height: 170px;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	margin: 10px;
	transition: 0.25s ease-in;
}
.hard{
	position: relative;
  width: 340px;
	height: 170px;
  background-color: #d9534f;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	margin: 10px;
	transition: 0.25s ease-in;
}



.easy .card-word{
  text-align: center;
  padding-top: 15%;
}
.easy h1{
  color: white;
}
.easy .content {
	position: absolute;
	bottom: 10px;
	left: 25px;
}

.easy .content h4 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.easy .content h6 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.easy .fav {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.easy .fav i {
	color: white;
}

.easy:hover {
	transform: scale(1.05);
}

.easy:hover {
	background-position: top;
}

.h1{
  color: whitesmoke;
}


.medium .card-word{
  text-align: center;
  padding-top: 15%;
}
.medium h1{
  color: white;
}
.medium .content {
	position: absolute;
	bottom: 10px;
	left: 25px;
}

.medium .content h4 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.medium .content h6 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.medium .fav {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.medium .fav i {
	color: white;
}

.medium:hover {
	transform: scale(1.05);
}

.medium:hover {
	background-position: top;
}


.hard .card-word{
  text-align: center;
  padding-top: 15%;
}
.hard h1{
  color: white;
}
.hard .content {
	position: absolute;
	bottom: 10px;
	left: 25px;
}

.hard .content h4 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.hard .content h6 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #f2f2f2;
	margin-bottom: 10px;
	margin-top: 0;
}

.hard .fav {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.hard .fav i {
	color: white;
}

.hard:hover {
	transform: scale(1.05);
}

.hard:hover {
	background-position: top;
}
