<div class="row">

  <div class="col-md-4" *ngFor="let GetHeaderFromJoin of GetHeaderFromJoin">
    <a (click)="getContent(GetHeaderFromJoin['problemName'])" class="project">


      <div class="cardd">

        <div class="card-word">
          <!-- <div class="card-img"></div>
          <div class="card-title">
            <h1>{{GetHeaderFromJoin['problemName']}}</h1>
          </div>
        </div> -->
        <h1>{{GetHeaderFromJoin['problemName']}}</h1>

        <!-- <div class="card-body">
          <h1>{{GetHeaderFromJoin['problemName']}}</h1>
        </div> -->
      </div>
    </div>
    </a>
  </div>
</div>
