<!-- <app-navbar></app-navbar>
 -->


<div *ngIf="LoggedToken()==false">
  <router-outlet></router-outlet>
</div>


<div *ngIf="LoggedToken()==true" class="wrapper">

  <!-- Navbar -->

  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!--SideBar---->
  <app-side-bar></app-side-bar>
  <!----->

  <div class="content-wrapper" style="min-height: 800px;padding-top:64px;background-color: white;">
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>

  <!-- Control Sidebar -->
  <div class="container">
    <div class="row-padding">
      <div class="col-12">
      <aside class="control-sidebar control-sidebar-light">

                  <img class="center" style="
    height: 350px;" src="assets/img/fr.jpg" alt="Card Back">

        <div class="roomCJ">
          <button type="submit" (click)="CreateRoom()" class="outline purple-white">Create Room</button>

          <form [formGroup]="roomForm" (ngSubmit)="joinRoom()">

            <div class="form-group">
              <button type="submit" class="outline purple-white" [disabled]="!roomForm.valid">Join Room</button>

              <input class="roomId" formControlName="roomName" type="text" name="fname">

              <div class="text-danger" *ngIf="!this.roomForm.get('roomName').valid&&this.roomForm.touched">
                Enter Room Code
              </div>
            </div>
          </form>
        </div>
  

      </aside>
      </div>

    </div>
  </div>
  <!-- /.control-sidebar -->



  <!-- </div>

<div class="wrapper" *ngIf="IsLogged()==false">
  <app-account-login></app-account-login>
  <app-account-register></app-account-register>
</div> -->
