<!-- <app-navbar></app-navbar>
 -->


 <div *ngIf="LoggedToken()==false">
   <router-outlet></router-outlet>
 </div>


<div *ngIf="LoggedToken()==true" class="wrapper">

  <!-- Navbar -->

  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!--SideBar---->
   <app-side-bar></app-side-bar>
   <!----->

  <div class="content-wrapper" style="min-height: 800px;padding-top:64px;background-color: white;">
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">


      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-light">

      <input type="button" id="cbtn" class="btn btn-danger btn-lg btn-block signin-btn"  (click)="CpopUp()" value="Create Room" />
      <input type="button" id="jbtn" class="btn btn-danger btn-lg btn-block signin-btn"  (click)="JpopUp()" value="Join Room" />

        <div id="CpopUp" style="margin-top: 30%;">

          <form [formGroup]="roomForm" (ngSubmit)="CreateRoom()">
            <h2 style="text-align: center;">Enter Room Name </h2>
            <hr>

            <div class="form-group">
              <input type="text" formControlName="roomName"  class="form-control input-lg">
              <div class="text-danger"
              *ngIf="!this.roomForm.get('roomName').valid">
                Enter Room Name
            </div>
          </div>

          <button type="submit" class="btn btn-danger btn-lg btn-block signin-btn" [disabled]="!roomForm.valid">Create</button>

          </form>

        </div>
        <div id="JpopUp" style="margin-top: 30%;">


          <form [formGroup]="roomForm" (ngSubmit)="JoinRoom()">
            <h2 style="text-align: center;">Enter Room Name </h2>
            <hr>

            <div class="form-group">
              <input type="text" formControlName="roomName"  class="form-control input-lg">
              <div class="text-danger"
              *ngIf="!this.roomForm.get('roomName').valid">
                Enter Room Name
            </div>
          </div>

          <button type="submit" class="btn btn-danger btn-lg btn-block signin-btn" [disabled]="!roomForm.valid">Join</button>

          </form>

        </div>
        <!-- <a routerLink="/codeEditor" class="nav-link">
            <p>Code Editor</p>
          </a> -->
  </aside>
  <!-- /.control-sidebar -->



  <!-- </div>

<div class="wrapper" *ngIf="IsLogged()==false">
  <app-account-login></app-account-login>
  <app-account-register></app-account-register>
</div> -->


