<header>

  <div class="navBar">
    <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">  <img style="
        height: 100px;padding-top: 8px;" src="assets/img/a.PNG" alt="Card Back"></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../login']">Login</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['../register']" style="color:#d51500" href="#">Signup</a>
          </li>

        </ul>
      </div>
    </nav>


  </div>

  <div class="intro">
    <div class="midtxt">Complete Reference </div>
    <div class="Umidtxt">To Competitive Programming </div>
    <input type="button" [routerLink]="['../login']" class="StartBtn" value="Get Started">
  </div>

</header>

<article>

  <div class="row">
    <div class="col-sm-7">

      <div class="artContent">

        <div class="Hcontent">Simplifed Solutions for most coding problems written by HackerRank , LeetCode and CodeForces </div>
        <div class="Bcontent">We have so many soultions for problems In the 13 years and 263 days that we’ve been building Todoist, we’ve never considered selling out or becoming acquired.

          Our team is committed to staying independent and earning your trust for as long as you need our apps. </div>

      </div>



    </div>


    <div class="col-sm-5">

        <div class="artPic">
          <img  style="
          height: 350px" src="assets/img/we.png" alt="Card Back">
      </div>


    </div>

  </div>

  <div class="row">
    <div class="col-sm-7">

      <div class="artContent">

        <div class="Hcontent">Ace Code Editor</div>
        <div class="Bcontent">The Code Editor supports the following languages<br/> c++ , JAVA , C# and Python</div>

      </div>



    </div>


    <div class="col-sm-5">

        <div class="artPic">
          <img  style="
          height: 350px" src="assets/img/e.jpg" alt="Card Back">
      </div>


    </div>

  </div>

  <div class="row">
    <div class="col-sm-7">

      <div class="artContent">

        <div class="Hcontent">Stuck while solving a problem?</div>
        <div class="Bcontent">Create a room , invite your friends to help you , now you can chat with friends only but
           Voice , Video calls Will be added soon </div>

      </div>

    </div>


    <div class="col-sm-5">

        <div class="artPic">
          <img  style="
          height: 500px" src="assets/img/fr.jpg" alt="Card Back">
      </div>


    </div>

  </div>
</article>

<footer>

  <div class="license">

  </div>

</footer>
